.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--pad);
  background-color: var(--pink);
  font-family: 'Catamaran Medium';
  color: var(--light-pink);
  white-space: nowrap;
  margin-top: var(--spacer);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer > * {
  flex: 1 0 0;
}

.footer .footer__social {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
}

.footer .menu-footer-container {
  display: flex;
  justify-content: flex-end;
}

.footer .footer__social a {
  display: flex;
  width: calc(var(--base-unit) * 5);
  height: calc(var(--base-unit) * 5);
  align-items: flex-end;
  justify-content: center;
  margin: 0 0.5em;
}

.footer .menu {
  flex-direction: row;
  justify-content: flex-end;
}

.footer .menu li:not(:first-child):before {
  content: '|';
  margin: 0 0.5em;
}

@media (max-width: 1100px) {
  .footer {
    flex-direction: column;
  }
  .footer > * {
    margin: 0.5em 0;
    flex: 1 1 auto !important;
  }
}
