.hero {
  display: block;
  position: relative;
  width: 100vw;
  height: 66vw;
  max-height: calc(100vh - 64px);
  background-image: url('<?=get_bloginfo("template_url");?>/images/poster.jpg');
  background-size: cover;
  background-position: 50% 100%;
  margin-bottom: 64px;
}

.hero.single {
  height: 128px
}

.hero .ribbon {
  height: 256px;
  width: 400px;
  background-color: var(--pink);
  position: absolute;
  left: 32px;
  bottom: -63px;
  padding: 32px;
  box-sizing: border-box;

  font-family: 'Catamaran Bold';
  color: var(--light-pink);
  font-size: 64px;
  line-height: 1em;
  display: flex;
  align-items: center;
}

.hero.single .ribbon {
  background-color: transparent;
  font-family: 'Catamaran Light';
  position: absolute;
  z-index: 1;
  font-size: 24px;
  height: auto;
  padding: 0;
  bottom: 32px;
}

.hero.single .ribbon br {
  display: none;
}

.hero.single .ribbon:after {
  display: none;
}

